.header {
    margin: 50px;
    align-items: center;
    text-align: center;
}

.header h3{
    font-size: 35px;
    color: black;
}

.page {
    background-color: darkslategray;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
}
.page__content {
    display: flex;
    padding-top: 20px;
}
.page__img {
    flex: 0.3;
}
.page__img img {
    width: 70%;
    border-radius: 10px;
}
body span {
    color: gray;
}
